<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Anasayfa</h3>
    <p>Burası Anasayfa</p>

    <h5>Sayımız</h5>
    <p> {{number}}</p>
    <p>{{article.title}}</p>
    <p>{{article.body}}</p>
    <p>{{article.author}}</p>
</body> 
</html>
-->

    <!-- <p>Burası indextir...</p>
     -->





    {% extends "layout.html" %}