{% extends "layout.html" %}

{% block body %}
<h3>Ana Sayfa</h3>
<div class="jumbotron text-center">
    <h3>Merhaba Ben Furkan Bloğuma Hoş Geldiniz</h3>
    <p>Bu blogta yazılım konusunda insanalara yardımcı olabilirsiniz.</p>
</div>
{% if answer=="evet" %}
<p>Cevap Evet.</p>

{% else %}
<p>Cevap evet değil.</p>

{% endif %}

<ul>
    {% for number in numbers %}
        <li>{{number}}</li>
    {% endfor %}    
    {% for article in articles %}
    <li>Article Id:{{article.id}}- Title:{{article.title}}- Content:{{article.content}}</li>
    {% endfor %}
</ul>


{% endblock %}